* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: beige;
}

/* p {
    font-size: xx-large;
} */

.fish-count-text {
    font-size: xx-large;
}

#fishing-icon {
    border-radius: 100%;
    overflow: hidden;
    filter: drop-shadow(0 0 0.25rem black);
}

.dock {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;    
    position: relative;
    /* border: solid 1px black */
}

.caught-fish {
    top: 0;
    left: 90px;
    position: absolute;
    transition: linear 1s;
    opacity: 0;
}

.catch {
    opacity: 1;
    transform: translate(0, 0);
}

#upgrade-1 {
    position: absolute;
    top: 8px;
    left: 145px;
}

#upgrade-2 {
    position: absolute;
    top: 40px;
    left: 145px;
}